.superInput {
    outline: none;
    display:inline-block;
    font-family: Arial, serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #CCC6FF;
    color: white;
    background-color: #293133;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .5s;
}
.superInput:hover{
    border: 1px solid cornflowerblue;
}

.errorInput {
    outline: none;
    display:block;
    font-family: Arial, serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid red;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    border-radius: 0;
}

.error {
    color: red;
}