.label{
    display: block;
    line-height: 24px;
    padding: 12px 15px;
    cursor: pointer;
    float:left;
}

.checkbox {
    display: none;
}

.box{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #293133;
    border-radius: 12px;

}
.box:before{
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -6px;
    height: 4px;
    width: 8px;
    border: solid dodgerblue;
    border-width: 0 0 4px 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox:checked ~ .box {
    border-color: dodgerblue;
}

.checkbox:checked ~ .box:before {
    display: block;
}

.spanClassName {
    font-family: Arial, serif;
    text-decoration: none;
    font-size: 16px;
    color: #293133;
}
.checkbox:checked ~ .spanClassName{
    color: dodgerblue;
}