.default {
    width: 90px;
    text-align: center;
    display: inline-block;
    font-family: Arial, serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid;
    color: #CCC6FF;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    transition: .5s;
    border-radius: 0;
    background-color: #293133;
}

.default:hover:not([disabled]) {
    top: 5px;
    transition: .5s;
    color: dodgerblue;
    border: 1px solid;
    border-radius: 10px;
}

.default:active:not([disabled]) {
    color: #293133;
    border: 1px solid #293133;
    transition: .07s;
    background-color: dodgerblue;
}

.default:disabled {
    color: lightslategrey;
    background-color: #696969;
    border-radius: 0;
}

.red {
    width: 90px;
    text-align: center;
    display: inline-block;
    font-family: Arial, serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid;
    color: #CCC6FF;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    transition: .5s;
    border-radius: 0;
    background-color: #293133;
}

.red:hover {
    top: 5px;
    transition: .5s;
    color: red;
    border: 1px solid;
    border-radius: 10px;
    background-color: #293133;
}

.red:active {
    color: #293133;
    border: 1px solid #293133;
    transition: .07s;
    background-color: red;
}